@use '@angular/material' as mat;

// Material Icons
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// Light theme explicitly defined to avoid light-dark() CSS function
// which breaks in older versions of Firefox
html {
  @include mat.theme((
    color: (
      primary: mat.$violet-palette,
      tertiary: mat.$blue-palette,
      theme-type: light // FORCE light tokens
    ),
    typography: Roboto,
    density: 0
  ), $overrides: (
    primary: #28695A,
    primary-container: #47A598,
    on-primary-container: #ffffff,
    tertiary: #232BAD,
    error: #9D0545,
  ));

  color-scheme: light;
}

// Dark theme explicitly defined
body.dark-mode {
  @include mat.theme((
    color: (
      primary: mat.$violet-palette,
      tertiary: mat.$blue-palette,
      theme-type: dark // FORCE dark tokens
    )
  ), $overrides: (
    primary: #28695A,
    primary-container: #47A598,
    on-primary-container: #ffffff,
    tertiary: #232BAD,
    error: #9D0545,
    surface: #173669,
    surface-container: #173669,
    on-surface: #ffffff
  ));

  color-scheme: dark;
}

// Apply the global material backgrounds
body {
  background: var(--mat-sys-surface, #ffffff);
  color: var(--mat-sys-on-surface, #000000);
}
