@use '@angular/material' as mat;

// Material Icons
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// Light theme explicitly defined
html {
  @include mat.theme((
    color: (
      primary: mat.$blue-palette,
      tertiary: mat.$cyan-palette,
      theme-type: light // FORCE light tokens
    ),
    typography: Roboto,
    density: 0
  ), $overrides: (
    primary: #2C698D,
    primary-container: #BAE8E8,
    on-primary-container: #272643,
    tertiary: #272643,
    error: #B3261E,
    surface: #FFFFFF,
    surface-container-low: #E3F6F5,
    surface-container: #E3F6F5
  ));

  color-scheme: light;
}

// Dark theme explicitly defined
body.dark-mode {
  @include mat.theme((
    color: (
      primary: mat.$blue-palette,
      tertiary: mat.$cyan-palette,
      theme-type: dark // FORCE dark tokens
    )
  ), $overrides: (
    primary: #BAE8E8,
    primary-container: #2C698D,
    on-primary-container: #FFFFFF,
    tertiary: #BAE8E8,
    error: #F2B8B5,
    background: #1b1a2f,
    surface: #272643,
    surface-container-low: #272643,
    surface-container: #272643,
    on-surface: #FFFFFF
  ));

  color-scheme: dark;
}

// Apply the global material backgrounds
body {
  background: var(--mat-sys-surface, #ffffff);
  color: var(--mat-sys-on-surface, #000000);
}
