.chart-card {
  margin-bottom: 16px;
  border-radius: 8px;
}

mat-card-header {
  padding: 16px;
}

mat-card-title {
  font-size: 20px;
  font-weight: 500;
}

.chart-content {
  height: 250px;
  padding: 16px 0;
}

.echart-container {
  height: 100%;
}
